<form class="loginForm">
    <div>
        <label for="emailLogin">Email:</label>
        <input type="text" id="emailLoginId" />
    </div>
    <div>
        <label for="passwordLogin">Password:</label>
        <input type="text" id="passwordLoginId" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<form class="signupForm">
    <div>
        <label for="usernameSign">Username:</label>
        <input type="text" id="usernameSignId" />
    </div>
    <div>
        <label for="emailSign">Email:</label>
        <input type="text" id="emailSignId" />
    </div>
    <div>
        <label for="passwordSign">Password:</label>
        <input type="text" id="passwordSignId" />
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>

<script src="/javascript/login.js"></script>